# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
